@media only screen and (min-width: 667px) and (max-width: 1020px){
    .assignment-section-parent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .one{
        grid-column: 1/2;
        border: 1px solid;
        border-radius: 10px;
        margin: 10px 10px;
    }
    
    .two{
        grid-column: 2/3;
        border: 1px solid;
        border-radius: 10px;
        margin: 10px 10px;
    }
    
    .three{
        grid-column: 1/3;
        grid-row: 2/3;
        border: 1px solid;
        border-radius: 10px;
        margin: 10px 10px;
    }
}